$primary: #114aaf;
$dark: #2a4365;
$light: #e2e8f0;
$secondary: #718096;
$accent: #1a202c;
$gray: #a0aec0; // placeholders
$white: #ffffff; // Status colors
$red: #e53e3e; // Error
$green: #38a169; // Success
$orange: #d69e2e; // Warn

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  transition: all ease-in-out 300ms;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.logo {
  height: 60px;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 14px;
  white-space: nowrap;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.33;
  }
  svg {
    // fill: ${(props) => props.theme.colors.secondary};
    vertical-align: middle;
    // margin-bottom: 2px;
    height: 20px;
  }
  &.icon-left {
    svg {
      margin-right: 8px;
    }
  }
  &.icon-right {
    svg {
      margin-left: 8px;
    }
  }
}

.btn-primary {
  background: $primary;
  color: $white;
  svg {
    fill: $white;
    opacity: 0.33;
  }
  &.link {
    background: $white;
    color: $primary;
    padding-left: 0;
    padding-right: 0;
    svg {
      fill: $primary !important;
    }
  }
}

.btn-light {
  background: $light;
  color: $white;
}

.btn-light {
  background: $light;
  color: $dark;
}

.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-full {
  width: 100%;
}

.mr-2 {
  margin-right: 1.5rem;
}

@media (max-width: 481px) {
  .sm-hidden {
    display: none;
  }

  .sm-flex-1 {
    flex-grow: 1;
  }
}
